{% extends 'registration/base.html' %}
{% load embed_video_tags %}

    {% block title %}{% block title-meta %}
        {% if request.user.is_superuser %}
            لیست پست ها
        {% else %}
            پنل کاربر
        {% endif %}
    {% endblock %}{% endblock %}




{% block main %}
    {% if request.user.is_superuser %}
        <div class="row">
              <div class="col-12">
                <div class="card">
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>عنوان پست</th>
                          <th>محتوا پست</th>
                          <th>تصویر پست</th>
                          <th>زمان انتشار</th>
                          <th>وضعیت</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for post in object_list %}
                            <tr>
                              <td><a href="{% url "account:post-update" post.pk %}">{{ post.title }}</a></td>
                              <td>{{ post.description|truncatewords:30|safe }}</td>
                              <td>
                                  {% if post.thumbnail %}
                                    <img src="{{ post.thumbnail.url }}" alt="event-img2-1.jpg">
                                  {% endif %}
                                  {% video post.video 'small' %}
                              </td>
                              <td>{{ post.jpublish }}</td>
                              <td>
                                  {% if post.status == 'p' %}
                                    <span class="badge badge-success">منتشر شده</span>
                                    <a target="_blank" class="badge badge-primary" href="{% url "home:detail" post.slug %}">نمایش پست در سایت</a>
                                  {% else %}
                                      <span class="badge badge-danger">پیش نویس</span>
                                  {% endif %}
                                  {% if request.user.is_superuser %}
                                    <a class="badge badge-danger" href="{% url "account:post-delete" post.pk %}">حذف</a>
                                  {% endif %}
                              </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>

    {% else %}
        <h3>بر روی پروفایل کلیک کنید</h3>
    {% endif %}
{% endblock %}