{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "registration/login/images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/vendor/animate/animate.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static "registration/login/css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "registration/login/css/main.css" %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
        {% if form.non_field_errors %}
                <div class="errors" style="color: red; background-color: #fbd4d4; padding: 20px 30px;">
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
        {% endif %}
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post">
                   {% csrf_token %}
					<span class="login100-form-title">
						ورود
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						{{ form.username|add_class:"input100"|append_attr:"placeholder:نام کاربری" }}
                        {% if form.username.errors %}
                                <div class="errors" style="color: red; background-color: #fbd4d4; padding: 20px 30px;">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% endif %}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Please enter password">
						{{ form.password|add_class:"input100"|append_attr:"placeholder:رمز عبور" }}
                        {% if form.password.errors %}
                                <div class="errors" style="color: red; background-color: #fbd4d4; padding: 20px 30px;">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% endif %}
						<span class="focus-input100"></span>
					</div>

					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							فراموشی
						</span>

						<a href="#" class="txt2">
							رمز عبور؟
						</a>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							ورود
						</button>
					</div>

					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							حساب ندارید؟
						</span>

						<a href="#" class="txt3">
							ایجاد حساب جدید
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="{% static "registration/login/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/login/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/login/vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "registration/login/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/login/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/login/vendor/daterangepicker/moment.min.js" %}"></script>
	<script src="{% static "registration/login/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/login/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "registration/login/js/main.js" %}"></script>

</body>
</html>