{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %} لیست پست ها{% endblock %}{% endblock %}


{% block main %}
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">افزودن پست</h3>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success">ذخیره</button>
            </form>
            </div>
        </div>
    </div>
{% endblock %}