{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %} حذف پست{% endblock %}{% endblock %}

{% block main %}
    <div class="col-md-12 text-center">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">حذف پست</h3>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p> ایا پست حذف شود""{{ object }}""</p>
                    <input class="btn btn-danger" type="submit" value="ثبت">
                </form>
            </div>
        </div>
    </div>
{% endblock %}






