{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}پروفایل کاربری{% endblock %}{% endblock %}


{% block main %}
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">افزودن پست</h3>
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">{{ form.username|as_crispy_field }}</div>
                    <div class="col-12">{{ form.email|as_crispy_field }}</div>
                    <div class="col-12">{{ form.first_name|as_crispy_field }}</div>
                    <div class="col-12">{{ form.last_name|as_crispy_field }}</div>
                    <div class="col-12">{{ form.file|as_crispy_field }}</div>
                </div>
                <button class="btn btn-success">ویرایش اطلاعات</button>
            </form>
            </div>
        </div>
    </div>
{% endblock %}