{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static "registration/adminlte/dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text">پنل مدیریت</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "registration/adminlte/dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.get_full_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         {% if request.user.is_superuser %}
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                پست ها
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

                  <li class="nav-item">
                    <a href="{% url "account:home" %}" class="nav-link active">
                      <i class="fa fa-list nav-icon"></i>
                      <p>لیست پست ها</p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="{% url "account:post-create" %}" class="nav-link">
                      <i class="fa fa-edit nav-icon"></i>
                      <p>افزودن پست</p>
                    </a>
                  </li>

             </ul>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url "account:profile" %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                پروفایل
                <span class="right badge badge-danger">جدید</span>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>