{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="{% static "images/favicon2.png" %}" sizes="32x32" type="image/png">
    <title>جامعه - پوسته مرکز اسلامی</title>

    <link rel="stylesheet" href="{% static "css/icons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.circliful.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/rtl.css" %}">
    <link rel="stylesheet" href="{% static "css/shabnam.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">

    <!-- Color Scheme -->
    <link rel="stylesheet" href="{% static "css/colors/color3.css" %}" /><!-- Color -->
</head>
<body>
    <main>
        <div class="pageloader-wrap">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div><!-- Pageloader Wrap -->
        <header class="style1">
            <div class="container">
                <div class="logo"><a href="index-2.html" title="Logo"><img src="{% static "images/logo3.png" %}" alt="logo3.png"></a></div>
                <nav>
                    <div>
                        <a class="thm-btn brd-rd40" href="blog-detail.html#" title="">تماس با ما</a>
                        <ul>
                            <li class="menu-item-has-children"><a href="index-2.html#" title="">صفحه اصلی</a>
                                <ul>
                                    <li><a href="index-2.html" title="">صفحه اصلی 1</a></li>
                                    <li><a href="index2.html" title="">صفحه اصلی 2</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="index-2.html#" title="">بلاگ</a>
                                <ul>
                                    <li><a href="blog.html" title="">صفحه اصلی</a></li>
                                    <li><a href="blog-detail.html" title="">صفحه مطلب</a></li>
                                </ul>
                            </li>
                            <li><a href="event.html" title="">رویداد ها</a></li>
                            <li><a href="crowd-funding.html" title="">کمک مالی </a></li>
                            <li class="menu-item-has-children"><a href="index-2.html#" title="">صفحات</a>
								<ul>
									<li><a href="team.html" title="">صفحه تیم 1</a></li>
									<li><a href="team2.html" title="">صفحه تیم 2</a></li>
									<li><a href="portfolio.html" title="">نمونه کار ها</a></li>
									<li><a href="services.html" title="">خدمات ما</a></li>
								</ul>
							</li>
                            <li><a href="about.html" title="">درباره ما</a></li>
                            <li><a href="contact.html" title="">تماس با ما</a></li>
							                            <li class="menu-item-has-children"><a href="index-2.html#" title="">منو</a>
                                <ul>
                                    <li><a href="index-2.html" title="">منو اصلی 1</a></li>
                                    <li><a href="index2.html" title="">منوی اصلی 2</a></li>
                                    <li class="menu-item-has-children"><a href="index-2.html#" title="">منوی اصلی 3</a>
                                        <ul>
                                            <li><a href="index-2.html" title="">زیرمنوی 1</a></li>
                                            <li><a href="index2.html" title="">زیر منوی 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- Header -->
        <div class="rspn-hdr">
            <div class="lg-mn">
                <div class="logo"><a href="index-2.html" title="Logo"> <img src="{% static "images/logo2.png" %}" alt="logo2.png"> </a> </div>
                <div class="rspn-cnt">
                    <span><i class="fa fa-envelope thm-clr"></i><a href="index-2.html#" title=""> info@mail.com </a></span>
                    <span><i class="fa fa-phone thm-clr"></i> 123-456-789 </span>
                </div>
                <span class="rspn-mnu-btn"> <i class="fa fa-list-ul"></i> </span>
            </div>
            <div class="rsnp-mnu">
                <span class="rspn-mnu-cls"> <i class="fa fa-times"></i> </span>
                <ul>
                            <li class="menu-item-has-children"><a href="index-2.html#" title="">صفحه اصلی</a>
                                <ul>
                                    <li><a href="index-2.html" title="">صفحه اصلی 1</a></li>
                                    <li><a href="index2.html" title="">صفحه اصلی 2</a></li>
                                </ul>
                            </li>
							
                            <li class="menu-item-has-children"><a href="index-2.html#" title="">بلاگ</a>
                                <ul>
                                    <li><a href="blog.html" title="">صفحه اصلی</a></li>
                                    <li><a href="blog-detail.html" title="">صفحه مطلب</a></li>
                                </ul>
                            </li>
                            <li><a href="event.html" title="">رویداد ها</a></li>
                            <li><a href="crowd-funding.html" title="">کمک مالی </a></li>
                            <li class="menu-item-has-children"><a href="index-2.html#" title="">صفحات</a>
								<ul>
									<li><a href="team.html" title="">صفحه تیم 1</a></li>
									<li><a href="team2.html" title="">صفحه تیم 2</a></li>
									<li><a href="portfolio.html" title="">نمونه کار ها</a></li>
									<li><a href="services.html" title="">خدمات ما</a></li>
								</ul>
							</li>
                            <li><a href="about.html" title="">درباره ما</a></li>
                            <li><a href="contact.html" title="">تماس با ما</a></li>
							                            <li class="menu-item-has-children"><a href="index-2.html#" title="">منو</a>
                                <ul>
                                    <li><a href="index-2.html" title="">منو اصلی 1</a></li>
                                    <li><a href="index2.html" title="">منوی اصلی 2</a></li>
                                    <li class="menu-item-has-children"><a href="index-2.html#" title="">منوی اصلی 3</a>
                                        <ul>
                                            <li><a href="index-2.html" title="">زیرمنوی 1</a></li>
                                            <li><a href="index2.html" title="">زیر منوی 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->
        <section>
            <div class="gap remove-bottom black-layer2 opc85">
                <div class="fixed-bg" style="background-image: url(assets/images/parallax13.jpg);"></div>
                <div class="container">
                    <div class="page-title-wrap">
                        <h1><img src="{% static "images/resources/page-title-ayat.png" %}" alt="page-title-ayat.png"></h1>
                        <h2>عنوان پست</h2>
                        <ul class="breadcrumbs">
                            <li><a href="index-2.html" title="">صفحه اصلی</a></li>
                            <li><a href="blog.html" title="">بلاگ</a></li>
                            <li>عنوان پست</li>
                        </ul>
                    </div><!-- Page Title Wrap -->
                </div>
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="container">
                    <div class="blog-detail-wrp">
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="blog-detail">
                                    <div class="blog-detail-inf brd-rd5">
                                        {% if detail.thumbnail %}
                                            <img src="{{ detail.thumbnail.url }}" alt="event-img2-1.jpg">
                                        {% endif %}
                                        <style>
                                            .h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
                                        </style>
                                        <div class="h_iframe-aparat_embed_frame">
                                            <span style="display: block;padding-top: 57%"></span>
                                        <iframe src="{{ detail.video }}"></iframe>
                                        </div>

                                        <div class="blog-detail-inf-inr">
                                            <h4>{{ detail.title }}</h4>
                                            <ul class="pst-mta">
                                                <li><i class="fa fa-calendar-o thm-clr"></i>{{ detail.publish }}</li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-detail-desc">
                                        <p>{{ detail.description|safe }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- Blog Detail Wrap -->
                </div>
            </div>
        </section>
        <footer>
            <div class="gap top-spac70 drk-bg2 remove-bottom">
                <div class="container">
                    <div class="footer-data">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="wdgt-box style2">
                                    <div class="logo"><a href="index-2.html" title="Logo"><img src="{% static "images/logo2.png" %}" alt="logo2.png"></a></div>
                                    <p>مرکز اسلامی <b>جامعه</b> در سال 1373 با هدف خدمت به جامعه اسلامی تشکیل شده است.</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>لینک های مفید</h4>
                                            <ul>
                                                <li><a href="index-2.html#" title="">بلاگ</a></li>
                                                <li><a href="index-2.html#" title="">خدمات</a></li>
                                                <li><a href="index-2.html#" title="">کمک مالی</a></li>
                                                <li><a href="index-2.html#" title="">تیم</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>صفحات سایت</h4>
                                            <ul>
                                                <li><a href="index-2.html#" title="">صفحه اصلی</a></li>
                                                <li><a href="index-2.html#" title="">مطالب سایت</a></li>
                                                <li><a href="index-2.html#" title="">تالار گفتمان</a></li>
                                                <li><a href="index-2.html#" title="">درباره ما</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>تماس با ما</h4>
                                            <ul class="cont-lst">
                                                <li><i class="flaticon-location-pin"></i>خیابان مرکزی - بخش اصلی - ساختمان مرکزی - مرکز اسلامی جامعه</li>
                                                <li><i class="flaticon-call"></i>123-456-789</li>
                                                <li><i class="flaticon-email"></i><a href="index-2.html#" title="">info@mail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Footer Data -->
                    <div class="bottom-bar">
                        <p>1398 | تمامی حقوق برای جامعه مفحوظ میباشد</p>
                        <div class="scl">
                            <a href="index-2.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="index-2.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="index-2.html#" title="گوگل پلاس" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="index-2.html#" title="فیسبوک" target="_blank"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div><!-- Bottom Bar -->
                </div>
            </div>
        </footer>
    </main><!-- Main Wrapper -->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/downCount.js" %}"></script>
    <script src="{% static "js/fancybox.min.js" %}"></script>
    <script src="{% static "js/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "js/perfectscrollbar.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.circliful.min.js" %}"></script>
    <script src="{% static "js/custom-scripts.js" %}"></script>
</body>	

<!-- Mirrored from apptiks.ir/demo/jamia/blog-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Jan 2021 09:22:02 GMT -->
</html>