{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="{% static "images/favicon2.png" %}" sizes="32x32" type="image/png">
    <title>جامعه - پوسته مرکز اسلامی</title>

    <link rel="stylesheet" href="{% static "css/icons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.circliful.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/rtl.css" %}">
    <link rel="stylesheet" href="{% static "css/shabnam.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">

    <!-- Color Scheme -->
    <link rel="stylesheet" href="{% static "css/colors/color3.css" %}" /><!-- Color -->
</head>
<body>
    <main>
        <header class="style2">
            <div class="container">
                <div class="logo"><a href="{% url "home:home" %}" title="لوگو"><img src="{% static "images/logo3.png" %}" alt="لوگو"></a></div>
                <nav>
                    <div>
                        <ul>
                            <li><a href="{% url "home:posts" %}" title="">اخبار</a></li>
                            <li><a href="{% url "account:signup" %}" title="">ثبت نام</a></li>
                            <li><a href="{% url "account:login" %}" title="">ورود</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- Header -->
        <div class="rspn-hdr">
            <div class="lg-mn">
                <div class="logo"><a href="{% url "home:home" %}" title="Logo"> <img src="{% static "images/logo2.png" %}" alt="logo2.png"> </a> </div>
                <div class="rspn-cnt">
                    <span><i class="fa fa-envelope thm-clr"></i><a href="{% url "home:home" %}" title=""> info@mail.com </a></span>
                    <span><i class="fa fa-phone thm-clr"></i> 123-456-789 </span>
                </div>
                <span class="rspn-mnu-btn"> <i class="fa fa-list-ul"></i> </span>
            </div>
            <div class="rsnp-mnu">
                <span class="rspn-mnu-cls"> <i class="fa fa-times"></i> </span>
                        <ul>
                            <li><a href="{% url "home:posts" %}" title="">اخبار</a></li>
                            <li><a href="{% url "account:signup" %}" title="">ثبت نام</a></li>
                            <li><a href="{% url "account:login" %}" title="">ورود</a></li>
                        </ul>
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->
        <div class="header-search">
            <span class="srch-cls-btn brd-rd5"><i class="fa fa-times"></i></span>
            <form>
                <input type="text" placeholder="جستجو کنید ...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- Header Search -->
        <div class="contact-form-model-wrap text-center">
            <span class="model-close"><i class="fa fa-times"></i></span>
            <div class="contact-form-inner">
                <div class="sec-title text-center">
                    <div class="sec-title-inner">
                        <span>سوالی دارید؟</span>
                        <h3>ارسال پیام</h3>
                    </div>
                </div>
                <div class="contact-form text-center">
                    <form>
                        <div class="row mrg20">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <input type="text" placeholder="نام">
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <input type="email" placeholder="ایمیل">
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <textarea placeholder="پیام شما"></textarea>
                                <button class="thm-btn brd-rd40" type="submit">ارسال پیام</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- Contact Form Model Wrap -->
		<section class ="owl-curve-green">
            <div class="gap no-gap">
                <img class="botm-shp shp-img" src="{% static "images/shp2-1.png" %}" alt="shp2-1.png">
                <div class="featured-area-wrap text-center">

                    <div class="featured-area2 owl-carousel">
                        {% for posts in post %}
                        <div class="featured-item style2" style="background-image: url({% static "images/resources/Charity.jpg" %});">
                            <div class="featured-cap">
                                <h3>{{ posts.title }}</h3>
                                <span>{{ posts.description|striptags|truncatewords:20}}</span>
                                <a class="thm-btn brd-rd5" href="{% url 'home:detail' posts.slug%}" title="">بیشتر بخوانید<i class="flaticon-left-arrow"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- Featured Area Wrap -->
            </div>
        </section>
        
        <section>
            <div class="gap">
                <div class="container">
                    <div class="hstry-wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="hstry-img text-center">
                                    <img src="{% static "images/resources/tree1.png" %}" alt="hstry-img.png">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6">
                                <div class="hstry-desc">
                                    <span>چند کلمه ای درباره ما</span>
                                    <h2>تاریخچه مرکز جامعه</h2>
                                    <p>مؤسسه خیریه حمایت از کودکان مبتلا به سرطان با نام اختصاری “ محک ”  از سال ۱۳۷۰ و با شماره ثبت ۶۵۶۷ در قـالب یک سـازمان غیر انتفاعی- غیر دولتی با انگیزه والای کمک به همنوع فعالیت همه جـانبه خود را جهت حمایت از کودکان مبتلا بـه سرطان زیر ۱۶ سال و خانواده‌های آنـان آغاز کرده است. در طـول ۲۹ سال فعـالیت، محک بـا بهره‌گیری از کمک‌های انسان دوستانه مردم نیکوکار و همراهی مدیران نیک اندیش و تلاش پیگیر نیروهای داوطلب و موظف خود به موفقیت‌های چشمگیری در حوزه‌های امور خیریه، درمان و تحقیقات دست یافته است و به یکی از قطب‌های درمان در خاورمیانه تبدیل شده است.</p>
                                    <strong>جامعه <span>اولین</span> مرکز اسلامی در <span>کشور</span> است.</strong>
                                    <ul>
                                        <li>تحقیقات اسلامی</li>
                                        <li>کمک به اقشار جامعه</li>
                                        <li>هدایت رویداد های کمک</li>
                                        <li>تحصیل کودکان</li>
										<li>کمک به گرسنگان و نیازمندان</li>
                                        <li>اقامه نماز و مراسم اسلامی</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- History Wrap -->
                </div>
            </div>
        </section>

        <section>
            <div class="gap">
                <div class="container">
                    <div class="event-wrap">
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="remove-ext3">
                                    <div class="row">
										{% for posts in post %}
                                                <div class="col-md-4 col-sm-6 col-lg-4">
                                                    <div class="event-box2">
                                                        <div class="event-thumb">
                                                            <a href="{% url "home:detail" posts.slug %}" title="">
                                                                {% if posts.thumbnail %}
                                                                    <img src="{{ posts.thumbnail.url }}" alt="event-img2-1.jpg">
                                                                {% endif %}
                                                                <style>
                                                                    .h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
                                                                </style>
                                                                <div class="h_iframe-aparat_embed_frame">
                                                                    <span style="display: block;padding-top: 57%"></span>
                                                                    <iframe src="{{ posts.video }}"></iframe>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="event-info">
                                                            <h4><a href="{% url "home:detail" posts.slug %}" title="">{{ posts.title|truncatewords:7 }}</a></h4>
                                                            <p>{{ posts.description|truncatewords:30|striptags }}</p>
                                                            <ul class="event-mta">
                                                                <li><i class="flaticon-clock"></i>{{ posts.jpublish }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    <div class="view-all text-center">
                                        <a class="thm-btn brd-rd5" href="./posts" title="">پست های بیشتر</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Event Wrap -->
                </div>
            </div>
        </section>

        <section>
            <div class="gap">
                <div class="container">
                    <div class="sec-title2 text-center">
                        <div class="sec-title-inner2">
                            <span>خدمات بشر دوستانه</span>
                            <h3>خدمات ما</h3>
                        </div>
                    </div>
                    <div class="serv-wrap text-center remove-ext3">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-quran-rehal"></i>
                                    <div class="srv-info2">
                                        <h4>آموزش قرآن</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-heart-1"></i>
                                    <div class="srv-info2">
                                        <h4>خدمات خیریه و کمک</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-mosque"></i>
                                    <div class="srv-info2">
                                        <h4>ساخت مساجد</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="srv-box2">
                                    <i class="flaticon-social-care"></i>
                                    <div class="srv-info2">
                                        <h4>کمک به فقرا</h4>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Serv Wrap -->
                </div>
            </div>
        </section>
       <footer>
            <div class="gap top-spac70 drk-bg2 remove-bottom">
                <div class="container">
                    <div class="footer-data">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="wdgt-box style2">
                                    <p>مرکز اسلامی <b>جامعه</b> در سال 1373 با هدف خدمت به جامعه اسلامی تشکیل شده است.</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>لینک های مفید</h4>
                                            <ul>
                                                <li><a href="index-2.html#" title="">اخبار</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>صفحات سایت</h4>
                                            <ul>
                                                <li><a href="{% url "home:home" %}" title="">صفحه اصلی</a></li>
                                                <li><a href="{% url "account:login" %}" title="">ورود</a></li>
                                                <li><a href="{% url "account:signup" %}" title="">ثبت نام</a></li>
                                                <li><a href="{% url "home:posts" %}" title="">اخبار</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>تماس با ما</h4>
                                            <ul class="cont-lst">
                                                <li><i class="flaticon-location-pin"></i>خیابان مرکزی - بخش اصلی - ساختمان مرکزی - مرکز اسلامی جامعه</li>
                                                <li><i class="flaticon-call"></i>123-456-789</li>
                                                <li><i class="flaticon-email"></i><a href="index-2.html#" title="">info@mail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Footer Data -->
                    <div class="bottom-bar">
                        <p>1399 | تمامی حقوق برای جامعه مفحوظ میباشد</p>
                        <div class="scl">
                            <a href="index-2.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="index-2.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="index-2.html#" title="گوگل پلاس" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="index-2.html#" title="فیسبوک" target="_blank"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div><!-- Bottom Bar -->
                </div>
            </div>
        </footer>
    </main><!-- Main Wrapper -->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/downCount.js" %}"></script>
    <script src="{% static "js/fancybox.min.js" %}"></script>
    <script src="{% static "js/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "js/perfectscrollbar.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.circliful.min.js" %}"></script>
    <script src="{% static "js/custom-scripts.js" %}"></script>
</body>	

</html>