{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="{% static "images/favicon2.png" %}" sizes="32x32" type="image/png">
    <title>جامع - المركز الإسلامي  القالب</title>

    <link rel="stylesheet" href="{% static "css/icons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.circliful.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/rtl.css" %}">
    <link rel="stylesheet" href="{% static "css/shabnam.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">

    <!-- Color Scheme -->
    <link rel="stylesheet" href="{% static "css/colors/color3.css" %}" title="color" /><!-- Color -->
</head>
<body>
    <main>
        <header class="style1">
            <div class="container">
                <div class="logo"><a href="index-2.html" title="Logo"><img src="{% static "images/logo3.png" %}" alt="logo3.png"></a></div>
                <nav>
                    <div>
                        <ul>
                            <li><a href="{% url "home:posts" %}" title="">اخبار</a></li>
                            <li><a href="{% url "account:signup" %}" title="">ثبت نام</a></li>
                            <li><a href="{% url "account:login" %}" title="">ورود</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header><!-- Header -->
        <div class="rspn-hdr">
            <div class="lg-mn">
                <div class="logo"><a href="{% url "home:home" %}" title="Logo"> <img src="{% static "images/logo2.png" %}" alt="logo2.png"> </a> </div>
                <div class="rspn-cnt">
                    <span><i class="fa fa-envelope thm-clr"></i><a href="index-2.html#" title=""> info@mail.com </a></span>
                    <span><i class="fa fa-phone thm-clr"></i> 123-456-789 </span>
                </div>
                <span class="rspn-mnu-btn"> <i class="fa fa-list-ul"></i> </span>
            </div>
            <div class="rsnp-mnu">
                <span class="rspn-mnu-cls"> <i class="fa fa-times"></i> </span>
                    <ul>
                            <li><a href="{% url "home:posts" %}" title="">اخبار</a></li>
                            <li><a href="{% url "account:signup" %}" title="">ثبت نام</a></li>
                            <li><a href="{% url "account:login" %}" title="">ورود</a></li>
                    </ul>
            </div><!-- Responsive Menu -->
        </div><!-- Responsive Header -->
        <section>
            <div class="gap remove-bottom black-layer2 opc85">
                <div class="fixed-bg" style="background-image: url({% static "images/parallax12.jpg" %});"></div>
                <div class="container">
                    <div class="page-title-wrap">
                        <h2>گزیده مطالب</h2>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gap">
                <div class="container">
                    <div class="event-wrap">
                        <div class="row">
                            
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="remove-ext3">
                                    <div class="row">
                                        {% for posts in post %}
                                            <div class="col-md-4 col-sm-6 col-lg-4">
                                                <div class="event-box2">
                                                    <div class="event-thumb">
                                                        <a href="{% url "home:detail" posts.slug %}" title="">
                                                            {% if posts.thumbnail %}
                                                                    <img src="{{ posts.thumbnail.url }}" alt="event-img2-1.jpg">
                                                            {% endif %}
                                                            {% if posts.video %}
                                                            <style>
                                                                    .h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
                                                            </style>
                                                            <div class="h_iframe-aparat_embed_frame">
                                                                <span style="display: block;padding-top: 57%"></span>
                                                                <iframe src="{{ posts.video }}"></iframe>
                                                            </div>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="event-info">
                                                        <h4><a href="{% url "home:detail" posts.slug %}" title="">{{ posts.title|truncatewords:7 }}</a></h4>
                                                        <p>{{ posts.description|truncatewords:30 }}</p>
                                                        <ul class="event-mta">
                                                            <li><i class="flaticon-clock"></i>{{ posts.jpublish }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Event Wrap -->
                </div>
            </div>
        </section>
       <footer>
            <div class="gap top-spac70 drk-bg2 remove-bottom">
                <div class="container">
                    <div class="footer-data">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="wdgt-box style2">
                                    <div class="logo"><a href="index-2.html" title="Logo"><img src="assets/images/logo2.png" alt="logo2.png"></a></div>
                                    <p>مرکز اسلامی <b>جامعه</b> در سال 1373 با هدف خدمت به جامعه اسلامی تشکیل شده است.</p>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>لینک های مفید</h4>
                                            <ul>
                                                <li><a href="index-2.html#" title="">بلاگ</a></li>
                                                <li><a href="index-2.html#" title="">خدمات</a></li>
                                                <li><a href="index-2.html#" title="">کمک مالی</a></li>
                                                <li><a href="index-2.html#" title="">تیم</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>صفحات سایت</h4>
                                            <ul>
                                                <li><a href="index-2.html#" title="">صفحه اصلی</a></li>
                                                <li><a href="index-2.html#" title="">مطالب سایت</a></li>
                                                <li><a href="index-2.html#" title="">تالار گفتمان</a></li>
                                                <li><a href="index-2.html#" title="">درباره ما</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="wdgt-box">
                                            <h4>تماس با ما</h4>
                                            <ul class="cont-lst">
                                                <li><i class="flaticon-location-pin"></i>خیابان مرکزی - بخش اصلی - ساختمان مرکزی - مرکز اسلامی جامعه</li>
                                                <li><i class="flaticon-call"></i>123-456-789</li>
                                                <li><i class="flaticon-email"></i><a href="index-2.html#" title="">info@mail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Footer Data -->
                    <div class="bottom-bar">
                        <p>1398 | تمامی حقوق برای جامعه مفحوظ میباشد</p>
                        <div class="scl">
                            <a href="index-2.html#" title="توییتر" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="index-2.html#" title="اینستاگرام" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="index-2.html#" title="گوگل پلاس" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="index-2.html#" title="فیسبوک" target="_blank"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div><!-- Bottom Bar -->
                </div>
            </div>
        </footer>
    </main><!-- Main Wrapper -->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/downCount.js" %}"></script>
    <script src="{% static "js/fancybox.min.js" %}"></script>
    <script src="{% static "js/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "js/perfectscrollbar.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.circliful.min.js" %}"></script>
    <script src="{% static "js/custom-scripts.js" %}"></script>
</body>	

</html>